.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar  {
    background-color: #c1c1c1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar > button{
    background-color: blue;
    box-shadow: 2px 2px black;
    color: white;
}

.main-section {
    display: flex;
    }

.left-column {
    display: flex;
    flex-direction: column;
}

.word-entry {
    border: solid 5px black;
    width: 450px;
    padding: 10px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-right: 15px;
}

.yellow {
    background-color: yellow;
    box-shadow: 2px 2px black;
}
.right-column {
    display: flex;
}

.add-definition {
    border: solid 5px black;
    height: 150px;
    margin-top: 8px;
    padding: 10px;

}

.green {
    background-color: rgb(9, 223, 9);
    box-shadow: 2px 2px black;
}